@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  .custom-form input{
    @apply px-3 py-2 my-2;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .custom-form p{
    @apply mb-1 text-red-400;
    border-radius: 5px;
  }

  .custom-form input[type=submit]{
    @apply px-3 py-2 mt-6 cursor-pointer w-full;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .sign-in-banner{
    background-image: url(../public/images/signInBanner.jpg);
    background-repeat: no-repeat;
  }

  .custom-form label{
    @apply text-white mb-1 mt-3;
  }


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
